---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>ContactService.load</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><i4>3606</i4></value></param><param><value><array><data><value><string>FirstName</string></value><value><string>LastName</string></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><struct><member><name>FirstName</name><value>Severus</value></member><member><name>LastName</name><value>Snape</value></member></struct></value></param></params></methodResponse>
  recorded_at: Fri, 10 Apr 2015 08:24:44 GMT
recorded_with: VCR 2.9.3
