---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>ContactService.add</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><struct><member><name>Email</name><value><string>test@tester.com</string></value></member><member><name>FirstName</name><value><string>Severus</string></value></member><member><name>LastName</name><value><string>Snape</string></value></member></struct></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><i4>3602</i4></value></param></params></methodResponse>
  recorded_at: Thu, 09 Apr 2015 07:14:00 GMT
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: | 
        <?xml version="1.0" ?><methodCall><methodName>APIEmailService.optIn</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><string>testing@test.com</string></value></param><param><value><string>requested information</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><boolean>1</boolean></value></param></params></methodResponse>
  recorded_at: Thu, 30 Jul 2015 23:55:21 GMT
recorded_with: VCR 2.9.3
