---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>DataService.authenticateUser</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><string>test@test.com</string></value></param><param><value><string>bad_pass</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><methodResponse><fault><value><struct><member><name>faultCode</name><value><i4>13</i4></value></member><member><name>faultString</name><value>[FailedLoginAttempt]username
        not found: test@test.com</value></member></struct></value></fault></methodResponse>'
  recorded_at: Sat, 11 Apr 2015 17:46:13 GMT
recorded_with: VCR 2.9.3
