---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>DataService.getAppSetting</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><string>Contact</string></value></param><param><value><string>optiontitles</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value>Sir Madam Sith Lord Darth</value></param></params></methodResponse>
  recorded_at: Sat, 25 Jul 2015 23:52:35 GMT
recorded_with: VCR 2.9.3
