---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>DataService.updateCustomField</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><i4>16</i4></value></param><param><value><struct><member><name>Label</name><value><string>Stuff</string></value></member></struct></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><boolean>1</boolean></value></param></params></methodResponse>
  recorded_at: Sat, 11 Apr 2015 23:12:51 GMT
recorded_with: VCR 2.9.3
