---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>DataService.findByField</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><string>Company</string></value></param><param><value><i4>5</i4></value></param><param><value><i4>0</i4></value></param><param><value><string>Company</string></value></param><param><value><string>Hogwarts of America</string></value></param><param><value><array><data><value><string>Id</string></value><value><string>Company</string></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><array><data><value><struct><member><name>Id</name><value><i4>3618</i4></value></member><member><name>Company</name><value>Hogwarts
        of America</value></member></struct></value><value><struct><member><name>Id</name><value><i4>3620</i4></value></member><member><name>Company</name><value>Hogwarts
        of America</value></member></struct></value></data></array></value></param></params></methodResponse>
  recorded_at: Sat, 11 Apr 2015 22:37:52 GMT
recorded_with: VCR 2.9.3
