---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>APIEmailService.getEmailTemplate</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><i4>3649</i4></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><methodResponse><params><param><value><struct><member><name>pieceTitle</name><value>Test
        Email Template</value></member><member><name>categories</name><value></value></member><member><name>fromAddress</name><value>\"~Owner.FirstName~
        ~Owner.LastName~\" &lt;~Owner.Email~&gt;</value></member><member><name>toAddress</name><value>~Contact.Email~</value></member><member><name>ccAddress</name><value></value></member><member><name>bccAddress</name><value></value></member><member><name>subject</name><value>Test
        Testing</value></member><member><name>textBody</name><value>This email was
        sent as HTML-only. To view it, please visit:\r\n~HostedEmail.Url~</value></member><member><name>htmlBody</name><value>&lt;div
        id=\"mainContent\" style=\"text-align: left;\"&gt;\n&lt;table cellpadding=\"10\"
        cellspacing=\"0\" style=\"background-color: rgb(204,204,204); width: 100%;
        height: 100%;\"&gt;\n&lt;tbody&gt;\n&lt;tr&gt;\n&lt;td valign=\"top\"&gt;\n&lt;table
        align=\"center\" cellpadding=\"0\" cellspacing=\"0\"&gt;\n&lt;tbody&gt;\n&lt;tr&gt;\n&lt;td&gt;\n&lt;table
        cellpadding=\"0\" cellspacing=\"0\" style=\"width: 600px;\"&gt;\n&lt;tbody&gt;\n&lt;tr&gt;\n&lt;td
        sectionid=\"preheader\" style=\"text-align: left; margin: 0; padding: 10px
        0; border: none; white-space: normal; line-height: normal;\"&gt;\n&lt;div&gt;\n&lt;div&gt;\n&lt;div
        s[...]
