---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>APIEmailService.getAvailableMergeFields</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><string>Contact</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><array><data><value>~LoggedInUser.LastName~</value><value>~Contact.Address2Street1~</value><value>~Contact.ZipFour2~</value><value>~Contact.StreetAddress2~</value><value>~Contact.Username~</value><value>~Contact.EmailAddress2~</value><value>~Contact.Phone2~</value><value>~Contact.PostalCode3~</value><value>~Owner.EmailAddress2~</value><value>~Owner.Fax1Type~</value><value>~Owner.Phone1Ext~</value><value>~LoggedInUser.Fax1~</value><value>~Owner.PostalCode~</value><value>~EmailSent.PartialHash~</value><value>~[...]
