---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>APIEmailService.addEmailTemplate</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><string>Test Via API</string></value></param><param><value><string>test,api</string></value></param><param><value><string>noreply@test.com</string></value></param><param><value><string>test@test.com</string></value></param><param><value><string>test2@test.com</string></value></param><param><value><string>test3@test.com</string></value></param><param><value><string>Test Subject</string></value></param><param><value><string>Text Body</string></value></param><param><value><string>&lt;p&gt; HTML body</string></value></param><param><value><string>Multipart</string></value></param><param><value><string>Contact</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><i4>3651</i4></value></param></params></methodResponse>
  recorded_at: Sun, 26 Jul 2015 01:26:17 GMT
recorded_with: VCR 2.9.3
