---
http_interactions:
- request:
    method: post
    uri: https://test.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>APIEmailService.getOptStatus</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><string>hagglundized@gmail.com</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><i4>1</i4></value></param></params></methodResponse>
  recorded_at: Sun, 26 Jul 2015 00:58:49 GMT
recorded_with: VCR 2.9.3
