---
http_interactions:
- request:
    method: post
    uri: https://jj1641.infusionsoft.com/api/xmlrpc
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><methodCall><methodName>InvoiceService.addRecurringOrder</methodName><params><param><value><string>not_a_real_key</string></value></param><param><value><i4>9999</i4></value></param><param><value><boolean>1</boolean></value></param><param><value><i4>99</i4></value></param><param><value><i4>1</i4></value></param><param><value><double>27.0</double></value></param><param><value><boolean>0</boolean></value></param><param><value><i4>9</i4></value></param><param><value><i4>9999</i4></value></param><param><value><i4>0</i4></value></param><param><value><i4>0</i4></value></param></params></methodCall>

'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><methodResponse><params><param><value><i4>9999</i4></value></param></params></methodResponse>
  recorded_at: Tue, 02 May 2017 05:10:07 GMT
recorded_with: VCR 3.0.3
